# LangChain Core
langchain
langchain-core
langchain_community
langchain_experimental
langchain_chroma

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini Integration
langchain-google-genai
google-generativeai

# Cerebras Integration
langchain-cerebras

# Cerebras Integration
langchain-cerebras

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub
sentence-transformers

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

# Plot Chains Graph
grandalf
pypdf
unstructured
pdfminer
unstructured[pdf]
spacy-model-en_core_web_sm

# Vector Store
chromadb
tiktoken

# Youtube Transcript
